## OpenTelemetry Collector Configuration File
##
## Download otelcol from https://opentelemetry.io/docs/collector/installation/#macos
##
## Run with:
## otelcol --config otel-config.yaml
##
## connect with:
## OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318/v1/traces"
##


receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 127.0.0.1:4317
      http:
        endpoint: 127.0.0.1:4318
processors:
  batch:
    send_batch_size: 1000
    timeout: 10s
exporters:
  debug:
    # verbosity of the logging export: detailed, normal, basic
    verbosity: detailed
service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
